@import './settings';

@import './Home/home';
@import './dashboard/index';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;;
}

body {
    margin: 0;
    background-color: $base;
    height: 100%;
    color: $text-color1;
}

a {
    color: $link;
    text-decoration: none;
    transition-duration: 100ms;
}

a:hover {
    color: $link2;
    text-decoration: none;
    transition-duration: 100ms;
}

.page-btn {

    background-color: $dark1;
    color: $link;
    padding: 10px;
    border-radius: 10px;

    width: fit-content;

}

.delete-btn {
    background-color: rgb(255, 112, 112);
    color: $dark1;
    cursor: pointer;
}